**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/TestResults
**/Logs
**/logs
README.md
docker-compose*.yml